/*******POSICIONAMENTO DIV CENTRAL*********/
 div#interface{
 max-width: 100%;
  margin:  auto;
  text-align: center;
  
  
 }
/**************************************/
/*******FONTE TAMANHO*********/
div#interface h1{
	font-family: arial;
	font-size: 50px;
}
div#interface h3{
	font-family: arial;
	font-size: 15px;}

div#interface p{
	font-family: arial;
	width:auto;
	max-width: 100%;
	font-size: 25px;
	margin-left: 1px;
}
/*****************************/
/************MENU*************/
nav{
	background-color: #dddddd;
	height: 65px;
}
nav li{
	display: inline;
	padding: 135px;
	margin: 0px;
	height: 35px;
	font-size: 35px;
}
nav ul{
	height: auto;
	font-family: arial;
	list-style:none;
	width:auto;
	padding:8px;
	margin:0px;
}
nav a{
	text-decoration: none;
	color:black;
	padding: 8px;
	
}
nav a:hover{
	transition: 1s;
	background-color: black;
	color: white;
}
/**************************************/
/**tamanhos e responsividade do menu***/
@media all and(min-width: 960px){
body{
	width: 960px;
	margin:auto;

}

}

@media all and (max-width: 1295px){
	nav{
		height: 100%;
		
	}
	nav li{
		display: block;
		padding: 0px;
		margin: 0px;
	}
}
table#tabela{
		border: 1px solid #606060;
		border-spacing: 0px;
		margin-left: auto;
		margin-right: auto;
	}
	
	table#tabela td{
		border: 1px solid #606060;
		width:  5000px;
		padding: 10px;
	}
	